:host form {
  display: grid;
  grid-template-columns: 3fr 420px;
  grid-template-areas:
    "main sidebar";
  gap: 30px;

  .region.sidebar {
    border-radius: var(--radius);
    grid-area: sidebar;
    --background-color: #f2f2f2;
  }
}
