.label small,
.ss-add,
.ss-value-delete,
.icon-button {
  display: none !important;
}

.ss-multi-selected {
  pointer-events: none;
}

.ss-value {
  pointer-events: all;
}

.items,
.item,
.label {
  display: inline !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.item:not(:last-child) {
  border: none !important;
}

.form-element {
  display: block !important;
}

.reference-label {
  border: none !important;
  display: inline-flex !important;
  height: auto !important;

  .image {
    width: 16px !important;
    height: 16px !important;
    margin-right: 4px !important;
  }

  .reference-text {
    margin-left: 0 !important;
  }

  a {
    margin-left: 0 !important;
  }
}

.form-element:not([type="language-picker"]) {
  margin-bottom: 4px !important;
}

.form-element[type="language-picker"] {
  margin-bottom: 30px !important;
}

details summary::-webkit-details-marker {
  display:none;
}

details {
  margin-top: 14px !important;

  > .items {
    display: block !important;
    // padding-inline-start: 10px !important;
  }

  & > summary {
    list-style: none;
    pointer-events: none;
    margin-bottom: 6px !important;
    font-style: italic;

    .label {
      font-weight: 100 !important;
    }
  }
}

.form-element[type="url-image"] .items {
  display: flex !important;
  margin-top: 10px !important;

  img {
    border: 1px solid var(--color-gray);
    margin-inline-end: 30px;
  }
}

.form-element[type="language-picker"] .item .ss-values .ss-value.active,
.form-element[type="language-picker"] .item .ss-multi-selected::after {
  right: 0;
}

.form-element[type="language-picker"] .item .ss-values {
  padding-inline-end: 0 !important;

  .ss-value:last-child {
    margin-inline-end: 0 !important;
  }
}