rdf-form {
  --radius: 4px;
  --background-color: #eef6f4;
  --border-color: #c3c3c3;
  --button-color: gray;
  --disabled-color: #ecebeb;
  --add-button-color: #99e9ab;
  --remove-button-color: #cd4d4d;
  --text-color: #102406;

  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  color: var(--text-color);

  input, textarea, select {
    flex: 1 1 auto;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
  }

  textarea {
    resize: vertical;
  }

  input[readonly] {
    background: var(--disabled-color);
  }

  .top-actions {
    display: flex;
  }

  .language-switcher {
    flex: 0 0 130px;
    margin-left: auto;
  }

  .form-element {
    padding-bottom: 35px;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .form-element-label {
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
  }

  .form-element-children .form-element-label {
    font-weight: 300;
    font-style: italic;
  }

  .form-element-children {
    padding-left: 20px;
    margin-left: 6px;
    border-left: 2px solid var(--border-color);
  }

  .form-element-items {
     padding: 5px;
     background: var(--background-color);
     border-radius: var(--radius);
  }

  .row {
    display: flex;
    gap: 10px;

    .field {
      flex: 1 1 auto;
    }
  }

  .form-element-item {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
    justify-items: flex-start;
    align-items: flex-start;

    &:not(:last-child) {
      border-bottom: 1px dashed var(--border-color);
    }
  }

  .form-element-item-footer {
    flex: 0 0 100%;
  }

  .language-selector {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;

    option {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .form-element-language-selector {
    max-width: 130px;
  }

  .button {
    padding: 10px;
    border-radius: var(--radius);
    background: var(--button-color);
    cursor: pointer;
    border: none;

    &.add {
      background: var(--add-button-color);
    }

    &.remove {
      background: var(--remove-button-color);

      svg path {
        fill: white;
      }
    }
  }

  .form-element-menu-button {
    float: right;
    margin-left: auto;
  }

  .form-element-menu-wrapper {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
  }

  .form-element-actions {
    margin-top: 10px;
  }

  .form-element-menu {
    opacity: 0;
    visibility: hidden;
    display: block;
    pointer-events: none;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 0;

    li:first-child {
      margin-top: 10px;
    }

    &[open=true] {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .reference-preview {
    flex: 1 1 100%;
    display: flex;

    .reference-preview-right {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      h3 {
        margin-top: 0;
      }
    }

    .reference-preview-left {
      width: 80px;
      display: block;
      min-width: 80px;
      flex: 0 0 80px;
      height: 80px;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .reference-preview-title {
    display: flex;

    button {
      margin-left: auto;
    }
  }

  .search-suggestions {
    flex: 0 0 100%;
  }
}

