rdf-form {
  --radius: 4px;
  --background-color: #eee;
  --border-color: #c3c3c3;

  font-family: "Helvetica Neue", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: block;

  input, textarea, select {
    flex: 1 1 auto;
    padding: 8px;
    border: 1px solid gray;
    border-radius: var(--radius);
  }

  .field {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .field-label {
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
  }

  .children .field-label {
    font-weight: 300;
    font-style: italic;
  }

  .country-flag {
    max-width: 22px;
  }

  .children {
    padding-left: 20px;
    border-left: 2px solid var(--border-color);
  }

  .field-items {
     &:not(.inline) {
       padding: 5px;
       background: var(--background-color);
       border-radius: var(--radius);
    }

    &.inline {
      display: flex;
      gap: 10px;
    }
  }

  .row {
    display: flex;

    .field {
      flex: 1 1 auto;
    }
  }

  .field-item {
    display: flex;
    gap: 10px;

    &:not(.inline) {
      padding: 10px 5px;
    }

    &:not(.inline):not(:last-child) {
      border-bottom: 1px dashed var(--border-color);
    }
  }

  .field-item-actions {
    float: right;
  }

  *:not(.inline) > .field-items-actions {
    padding: 5px;
  }

  .field-description-tooltip-toggle {
    position: relative;

    svg {
      opacity: .3;
    }
  }

  .field-description-tooltip {
    display: flex;
    position: absolute;
    left: 50%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    top: 0;
    white-space: nowrap;
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
  }

  .field-description-tooltip-toggle:hover .field-description-tooltip {
    opacity: 1;
  }

  .language-selector {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;

    option {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .button {
    padding: 10px;
    border-radius: var(--radius);
    background: #cccccc;
    cursor: pointer;
    border: none;
  }
}

