.uppy-Dashboard-inner {
  width: auto !important;
  border: none !important;
  background-color: transparent !important;
  min-height: 280px;
}

.uppy-Dashboard-files {
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  > div {
    min-height : 220px !important;

    > div {
      position: relative !important;
    }
  }
}

.uppy-DashboardContent-bar {
  background-color: transparent !important;
}

.uppy-DashboardContent-bar {
  border: none !important;
}

.uppy-Root, .uppy-Root > * {
  font-family: inherit !important;
}

.uppy-Dashboard-AddFilesPanel {
  background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}

.uppy-Dashboard-Item,
.uppy-Dashboard-Item-preview {
  height: auto !important;
  user-drag: none;
  user-select: none;
}

.uppy-Dashboard-Item-previewIconWrap {
  margin: 20px;
}

.uppy-Dashboard-Item-previewInnerWrap {
  background-color: black !important;
}

.uppy-Dashboard-Item-preview img.uppy-Dashboard-Item-previewImg {
  height: auto;
  object-fit: none;
  width: auto;
}