details {
  border: 2px solid var(--background-color);
  margin-bottom: 20px;
  border-top: none;
  border-radius: var(--radius);

  summary {
    background: var(--disabled-color);
    padding: 10px;
    cursor: pointer;
    border-radius: var(--radius);

    * {
      display: inline-block;
      font-style: italic;
      margin: 0;
    }
  }

  &[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > *:not(summary) {
    padding: 0 20px;
  }
}

.region.sidebar details {
  border: none;
}
