.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  border-radius: var(--radius);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--radius);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: var(--radius);
    left: 8px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid var(--color-gray);
  }

  input:checked + .slider {
    background-color: var(--color-secondary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-secondary);
  }

  input:checked + .slider:before {
    transform: translateX(23px);
  }
}
