.form-element[type="reference"] {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .item {
    align-items: center;
    gap: 0;

    &[expanded="true"] {
      flex: 1 1 100%;

      .reference-label {
        flex: 1 1 100%;
      }
    }

    .button {
      padding: 5px;

      &.edit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        + .button {
          margin-left: 10px;
        }
      }

      &.remove {
        margin-left: 10px;
      }
    }
  }

  .reference-loading {
    padding-left: 10px;
    font-size: 12px;
  }

  .reference-label {
    background: white;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border: 1px solid var(--border-color);
    padding-right: 10px;

    display: flex;
    flex: 1 1 auto;
    width: auto;
    align-items: center;
    height: 35px;

    &[type="text"] {
      margin-left: 5px;
    }

    img {
      width: 33px;
      height: 33px;
      object-fit: cover;
      object-position: center;
      margin-right: 10px;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

  }

  .item[expanded="true"] {
    .reference-label {
      margin-bottom: 10px;
      border-radius: var(--radius);
    }

    input {
      margin-right: 10px;

      + .button.remove {
        margin-left: 0;
      }
    }
  }
}
