.form-element[type="url-image"] {
  img {
    max-width: 100%;
    max-height: 300px;
    user-select: none;
    -webkit-user-drag: none;
  }

  .image-wrapper {
    display: inline-flex;
    position: relative;
  }

  .focal-point-description {
    background: var(--color-primary);
    padding: 5px;
  }

  .focal-point {
    pointer-events: none;
    position: absolute;
    border-image: url('/focal-point.svg') 13 / 35px / 0 space;
    mix-blend-mode: difference;
    filter: saturate(100%) contrast(200%);

    &:before,
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 0px;

      // border-top: 2px solid #66ff00;
  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
