input, textarea, select {
  flex: 1 1 auto;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

textarea {
  resize: vertical;
}

input[readonly] {
  background: var(--disabled-color);
}

:host > * {
  margin-bottom: 25px;
}

* {
  box-sizing: border-box;
}
