.button {
  padding: 10px;
  border-radius: var(--radius);
  background: var(--color-gray);
  cursor: pointer;
  border: none;

  &.save,
  &.add {
    background: var(--color-primary);
  }

  &.edit {
    background: var(--color-secondary);
  }

  &.remove {
    background: var(--color-danger);
    color: white;

    svg path {
      fill: white;
    }
  }

  svg {
    display: block;
  }

  .svg-inline--fa {
    &.fa-w-11 { width: 11px; }
    &.fa-w-16 { width: 16px; }
    &.fa-w-16 { width: 16px; }
  }
}
