.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
