.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-element > .label {
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
