.label {
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.label-required-star {
  margin-left: 5px;
}

.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;

  .description {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
    font-style: italic;
    color: var(--secondary-text);
  }

  > .label {
    height: 46px;
  }
}

