.items {
  padding: 5px;
  margin-bottom: 10px;
  background: var(--background-color);
  border-radius: var(--radius);
}

.item {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
  justify-items: flex-start;
  align-items: flex-start;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--border-color);
  }

  &[loading="true"] {
    background: red !important;
  }

  .button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }

  .sub-item {
    flex: 1 1 10%;

    select {
      width: 100%;
    }

    input {
      box-sizing: content-box;
      width: calc(100% - 20px);
    }
  }
}

.item-footer {
  flex: 0 0 100%;
}
