.items {
  padding: 5px;
  margin-bottom: 10px;
  background: var(--background-color);
  border-radius: var(--radius);
}

.item {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
  justify-items: flex-start;
  align-items: flex-start;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--border-color);
  }

  &[loading="true"] {
    background: red;
  }

  .button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item-footer {
  flex: 0 0 100%;
}
