.menu-button {
  float: right;
  margin-left: auto;
}

.menu-wrapper {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.menu {
  opacity: 0;
  visibility: hidden;
  display: block;
  pointer-events: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;

  li:first-child {
    margin-top: 10px;
  }
}

.menu-wrapper[open=true] {
  .menu-button {
    background: var(--focus-color);

    path {
      fill: white;
    }
  }

  .menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
