.menu-button {
  background: var(--color-gray-light);
  padding: 6px;
}

.menu-wrapper {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.menu {
  opacity: 0;
  visibility: hidden;
  display: block;
  pointer-events: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
}

.menu-wrapper:hover {
  .menu-button {
    background: var(--color-gray-dark);

    path {
      fill: white;
    }
  }

  .menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
