:host {
  --radius: 4px;
  --background-color: #eef6f4;
  --border-color: #c3c3c3;
  --button-color: #c6bcbc;
  --focus-color: #827575;
  --secondary-text: #908989;
  --disabled-color: #ecebeb;
  --add-button-color: #99e9ab;
  --edit-button-color: #b0c6b4;
  --remove-button-color: #cd4d4d;
  --text-color: #102406;
  --text-color-secondary: #203614;

  font-family: "Helvetica Neue", sans-serif;
  margin: 0 auto;
  display: block;
  color: var(--text-color);
}
