:host {
  --radius: 4px;
  --background-color: #eef6f4;
  --color-gray-light: #ecebeb;
  --color-gray: #c3c3c3;
  --color-gray-dark: #827575;
  --color-gray-medium: #908989;
  --color-primary: #99e9ab;
  --color-secondary: #b0c6b4;
  --color-danger: #cd4d4d;
  --color-text: #102406;

  font-family: "Helvetica Neue", sans-serif;
  margin: 0 auto;
  display: block;
  color: var(--color-text);
}
