:host {
  --radius: 4px;
  --background-color: #eef6f4;
  --border-color: #c3c3c3;
  --button-color: gray;
  --disabled-color: #ecebeb;
  --add-button-color: #99e9ab;
  --remove-button-color: #cd4d4d;
  --text-color: #102406;

  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  color: var(--text-color);
}
