.form-element[type="container"] {
  > .items {
    padding: 0;
    background: none;
    margin-bottom: 0;

    > .item {
      padding: 0;
      margin-bottom: 0;

      .form-element {
        flex: 1 1 30%;
        margin-bottom: 0;
      }
    }
  }
}

.form-element.column > .items > .item {
  flex-direction: column;

  > .form-element {
    width: 100%;
  }
}