.form-element[type="group"] {
  display: flex;

  > .items {

    > .item {
      flex-wrap: nowrap;

      > .button {
        margin-bottom: 6px;
        align-self: flex-end;
      }

      > .form-element {
        flex: 1 1 100px;
        margin-bottom: 0;
        min-width: 80px;

        .label {
          height: auto;
          color: var(--text);
          font-style: italic;
          padding-bottom: 0;
          font-size: 14px;
        }

        > .items {
          padding: 0;
          margin-bottom: 0;

          > .item {
            padding-left: 0;
            padding-right: 0;

            input, select {
              min-width: 80px;
            }
          }
        }

        &[type="reference"] {
          min-width: 300px;

          .item {
            width: 100%;

            .button.edit {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

}
