.form-element[type="language-picker"] {
  background: none;
  border: 0;

  .items, .item {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }

  .language-switcher {
    flex: 1 1 100px;
    margin-top: 3px;
    display: flex;

    svg {
      position: relative;
      top: 2px;
      margin-right: 10px;

      path {
        fill: var(--color-gray-medium);
      }
    }
  }

  .item {
    .ss-main {
      flex: 1 1 80%;
    }

    .ss-multi-selected {
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      border-radius: 0 !important;

      &::-webkit-scrollbar {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        width: 100px;
        pointer-events: none;
        height: calc(100% - 1px);
        position: absolute;
        bottom: 1px;
        z-index: 2;
        opacity: 1;
        transition: opacity .1s ease-in-out;
      }

      &:before {
        left: 0;
        background-image: linear-gradient(
          -90deg, 
          rgba(255, 255, 255, 0) 0%, 
          rgba(255, 255, 255, 1) 100%
        );
      }

      &:after {
        right: 39px;
        background-image: linear-gradient(
          90deg, 
          rgba(255, 255, 255, 0) 0%, 
          rgba(255, 255, 255, 1) 100%
        );
      }

      &.hide-left-shadow:before {
        opacity: 0;
      }

      &.hide-right-shadow:after {
        opacity: 0;
      }

    }

    .ss-values {
      padding: 0;
      flex-wrap: nowrap;
      white-space: nowrap;
      width: auto;
      padding-inline-end: 40px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid var(--color-gray);
      }

      .ss-value {
        &:not(.active) .ss-value-text {
          color: var(--color-gray-dark);
        }

        &.active {
          position: sticky;
          left: 0;
          right: 40px;
          z-index: 3;
        }
      }

      > .ss-disabled {
        cursor: pointer;
        color: var(--text);
        padding: 15px 0;
      }  
    }
  
    .ss-add {
      cursor: pointer;
      flex: 0 1 30px;
      position: relative;
      padding-inline-start: 30px;
      padding-inline-end: 10px;
      width: 40px;
      display: flex;
      height: 100%;
      position: absolute;
      margin-right: 0;
      background: white;
      border-bottom: 1px solid var(--color-gray);
      right: 0px;
      z-index: 4;

      .ss-plus {
        position: absolute;
        left: 50%;
      }

    }
  
    .ss-content.ss-open {
      margin-top: 20px;
      border-radius: var(--radius);
    }
  
    .ss-multi-selected {
      border: 0;
    }
  
    .ss-value {
      position: relative;
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 14px;
      cursor: pointer;
      font-size: 16px;
      border: 1px solid var(--color-gray);
      background: var(--color-gray-light);
  
      &.active {
        background: white;
        border-bottom-color: white;  
      }
  
      .ss-value-delete svg {
        width: 10px !important;
        margin-left: 4px;
        path {
          fill: var(--color-gray-medium);
        }
      }
    }
  }
}